* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header__top {
    display: none;
}

.custom-navbar .navbar-brand img {
    height: 25px;
}

.custom-navbar {
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.navbar-nav .nav-link {
    position: relative;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    z-index: 2;
    margin-right: 10px;
}

.navbar .dropdown-toggle::after {
    display: none !important;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    z-index: -1;
    transition: 0.25s ease;
}

.navbar-nav .nav-link:hover::after {
    background: #13a2b7;
}

.navbar-nav .nav-link.active::after,
.navbar-nav .dropdown-toggle.active::after {
    background: #13a2b7;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    z-index: 9999 !important;
    display: block;
    opacity: 0;
    visibility: hidden;
    background-color: #000;
    color: #fff;
    border-radius: 0;
}
.navbar-nav .dropdown-menu .dropdown-item {
    color: #fff !important;
}
.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.nav-item.dropdown:hover .dropdown-toggle {
    cursor: pointer;
}
.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus {
    background-color: #000;  
    color: #fff !important;   
}

.collapse.navbar-collapse {
    overflow: visible !important;
}


.hero {
    background: url('../Images/hero-bg.jpg') center/cover no-repeat;
    background-position: left;
    padding: 80px 0;
    color: #fff;
    height: 100vh;
}

.hero__text {
    margin-top: 50px;
}

.hero__text span {
    color: #13a2b7;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.hero__text h2 {
    color: #161616;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
}

.primary-btn {
    display: inline-block;
    padding: 12px 35px;
    background: #13a2b7;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}

.chooseus {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 15px;
}

.section-title span {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666;
}

.section-title h2 {
    font-size: 34px;
    font-weight: bold;
    color: #222;
    margin-bottom: 40px;
}

.chooseus__item {
    text-align: center;
    height: 100%;
    margin-bottom: 30px;
}

.chooseus__item img {
    max-width: 100%;
}

.chooseus__item h5 {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0px 15px;
    color: #111111;
}

.chooseus__item p {
    color: #666666;
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 15px 0px;
}

.consultation__form {
    position: relative;
    margin-top: -20%;
    z-index: 50;
}

.section-form-title span {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666;
}

.section-form-title h2 {
    font-size: 22px;
    font-weight: bold;
    color: #222;
    margin-bottom: 30px;
}

/* Form styling */
.consultation__form {
    background: #ffffff;
    padding: 50px 35px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.12);
}


.consultation__form input,
.consultation__form select {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 15px;
}

.datepicker__item {
    position: relative;
}

.datepicker__item i {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.site-btn {
    width: 100%;
    display: inline-block;
    padding: 12px 14px;
    background: #13a2b7;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
}

.site-btn:hover {
    background: #13a2b7;
}

.consultation__text {
    padding: 100px 0px;
    position: relative;
}

.consultation__text__item .section-title span {
    font-size: 14px;
    color: #888;
    letter-spacing: 2px;
}

.consultation__text__item .section-title h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 10px 0;
}

.consultation__text p {
    font-size: 18px;
    line-height: 1.9;
    color: #555;
}

.consultation__video {
    background-image: url("../Images/consultation-video.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 260px;
    position: relative;
}

.consultation__video .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #fff;
    background: #00a3d6;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-break {
    color: #13a2b7;
}

.services {
    position: relative;
    background-image: url("../Images/services-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0;
    z-index: 1;
}

.services .section-title {
    margin-bottom: 50px;
}


.services .section-title span {
    color: #13a2b7;
}

.services .section-title h2 {
    color: #fff;
}

.services .services__btn {
    padding: 6px 20px;
    width: 180px;
    font-size: 22px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #13a2b7;
    margin-bottom: 30px;
}

.services__item {
    display: block;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
}

.services__item__icon span {
    font-size: 40px;
    color: #ff5f6d;
    display: block;
    margin-bottom: 15px;
}

.services__item:hover {
    background-color: #13a2b7;
    color: #fff;
}

.services__item__text h5 {
    font-size: 18px;
    margin-bottom: 8px;
}

.team {
    padding: 60px 0;
}

.team .section-title span {
    font-size: 16px;
    color: #007bff;
    font-weight: 600;
    letter-spacing: 1px;
}

.team .section-title h2 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 5px;
}

.team__item {
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.team__item img {
    width: 90%;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 10px solid #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

.team__item h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.team__item span {
    font-size: 14px;
    color: #13a2b7;
}

.team__item__social {
    margin-top: 15px;
}

.team__item__social a {
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
    color: #555;
    transition: 0.3s;
}

.team__item:hover img {
    border-color: #13a2b7;
    box-shadow: 0 0 15px rgba(19, 162, 183, 0.3);
}

.gallery-item {
    width: 100%;
    height: 230px;
   position: relative;
    overflow: hidden;
}

.gallery-item.tall {
    height: 480px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 102, 255, 0); /* 0 opacity initially */
    transition: 0.3s ease;
}

/* Hover: thin blue layer */
.gallery-item:hover::after {
    background: rgba(0, 102, 255, 0.3); 
}

.gallery-item:hover img {
    transform: scale(1.07);
}

.overlay i {
    color: #fff;
    font-size: 40px;
    transform: scale(0.6);
    transition: 0.4s;
}

.gallery-item:hover .overlay i {
    transform: scale(1);
}

.latest {
    padding: 50px 0;
}

.latest .section-title {
    margin-bottom: 45px;
}

.latest .section-title span {
    font-size: 16px;
    color: #555;
    font-weight: 600;
    letter-spacing: 2px;
}

.latest .section-title h2 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 8px;
    color: #111;
}

/* Button */
.latest__btn {
    margin: 0 0 20px;
    text-align: left;
}

.latest__btn .view-btn {
    color: #161616;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 30px 10px;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid #13a2b7;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}


/* Blog Card */
.latest__item {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    height: 80%;
}

.latest__item:hover {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.16);
    transform: translateY(-3px);
}

.latest__item h5,
.latest__item h5 a {
    color: #111 !important;
    font-size: 20px !important;
    line-height: 1.2 !important;
    font-family: poppins, sans-serif !important;
}

.latest__item:hover a {
    text-decoration: underline;
}

/* short description */
.latest__item p {
    font-size: 18px;
    color: #555;
    margin-top: 8px;
}

/* Author info */
.latest__item ul {
    padding: 0;
    margin-top: 15px;
}

.latest__item ul li {
    list-style: none;
    font-size: 13px;
    color: #666;
    display: inline-block;
    margin-right: 18px;
}

.latest__item ul li img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 6px;
}

.footer {
    background: #121c1d;
    color: #fff;
    padding-top: 40px;
    font-size: 15px;
}

.footer__top {
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
    margin-bottom: 65px;
}

.footer__logo {
    text-align: center;
    margin-bottom: 20px !important;
    /* FORCE apply */
    display: block;
    /* Makes margin work */
}

.footer__logo img {
    max-width: 180px;
    /* Optional: resize on mobile */
}


.footer__newslatter form {
    display: block;
    text-align: center;

}

.footer__newslatter input {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 15px;
    border-radius: 50px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #13a2b7;
    color: #ffffff;
    background-color: transparent;

}

.footer__newslatter button {
    display: inline-block;
    width: auto;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    cursor: pointer;
}

.footer__social {
    text-align: center;
    margin-top: 20px;
}

.footer__social a {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    background-color: #2a3334;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.footer__social a:hover {
    background: #fff;
    color: #111;
}

.footer__widget,
.footer__address {
    margin-bottom: 30px;
}


/* Widgets */
.footer__widget h5,
.footer__address h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer__widget ul,
.footer__address ul {
    list-style: none;
    padding: 0;
}

.footer__widget ul li,
.footer__address ul li {
    margin-bottom: 10px;
}

.footer__widget ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.footer__widget ul li a:hover {
    color: #13a2b7;
}

/* Address */
.footer__address ul li i {
    margin-right: 10px;
    margin-bottom: 28px;
    color: #13a2b7;
}

/* Map */
.footer__map iframe {
    width: 100%;
    border-radius: 5px;
}

/* Copyright */
.footer__copyright {
    background: #12191a;
    padding: 25px 0 20px;
    margin-top: 30px;
    text-align: center;
}

.footer__copyright__text p {
    margin: 0;
    color: #d1d0d0;
    font-size: 15px;
    font-weight: 300;
}

.footer__copyright__text i {
    color: #13a2b7;
}

.footer__copyright__text p a {
    color: #13a2b7;
    text-decoration: none;
}

.footer__copyright ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px;
    list-style: none;
    text-align: center;
}

.footer__copyright ul li {
    white-space: nowrap;
    /* keep each item in one line */
    position: relative;
    padding-right: 15px;
    font-size: 14px;
    color: #d1d0d0;
    margin-left: 5px;
}

/* Dot between items */
.footer__copyright ul li::after {
    content: "•";
    position: absolute;
    right: 0;
    top: 0;
}

/* Remove for last item */
.footer__copyright ul li:last-child::after {
    content: "";
}

.about {
    padding: 50px 0;
}

.about__video {
    width: 100%;
    height: 250px;
    background-image: url("../Images/consultation-video.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
}

.about__video .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #111;
    text-decoration: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.about__text {
    margin-top: 30px;
}

.about__text ul {
    padding: 0;
    margin: 20px 0 40px;
    list-style: none;
}

.about__text ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.about__text ul li i {
    color: #13a2b7;
    margin-right: 8px;
}

.testimonials {
    background-color: #f2f7f8;
}

.testimonial__item {
    background: #fff;
    padding: 30px 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.testimonial__author {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
}

.testimonial__author__icon {
    width: 45px;
    height: 45px;
    background: #f1f5f9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    font-size: 18px;
    color: #111;
}

.testimonial__author__text h5 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.testimonial__author__text span {
    font-size: 16px;
    color: #666666;
}

.rating i {
    color: #e4c870;
    margin-right: 2px;
}

.testimonial__item p {
    margin-top: 10px;
    color: #555;
    line-height: 1.6;
    font-size: 18px;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background: #ccc;
    display: block;
    border-radius: 50%;
    margin: 5px;
    transition: 0.3s;
}

.owl-dots .owl-dot.active span {
    background: #666;
    /* active dot color */
    transform: scale(1.2);
}

.breadcrumb-div {
    background: url('../Images/breadcrumb-bg.jpg') center/cover no-repeat;
    padding: 60px 0;
    position: relative;
}

.breadcrumb__text h2 {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.breadcrumb__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    /* space between items */
}

.breadcrumb__links a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    position: relative;
}

.breadcrumb__links span {
    color: #13a2b7;
    font-size: 14px;
    text-decoration: none;
    position: relative;
}

.breadcrumb__links span::before {
    content: "•";
    margin-right: 6px;
    color: #fff;
    font-weight: bold;
}

.services-page {
    padding: 50px 0;
}

.services__details__title span {
    font-size: 15px;
    color: #13a2b7;
}

.services__details__title h3 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 5px;
    color: #111;
}

.services__details__widget {
    text-align: left;
    margin-top: 20px;
}

.services__details__widget .rating i {
    color: #e4c870;
    margin-right: 3px;
    font-size: 15px;
}

.services__details__widget h3 {
    font-size: 30px;
    font-weight: 700;
    color: #13a2b7;
    margin-top: 10px;
}

.services__details__text p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
    line-height: 1.7;
}

.services__details__desc p {
    margin-top: 15px;
    font-size: 16px;
    color: #666;
    line-height: 1.7;
}

.services__details__pic img {
    width: 100%;
}

.services__details__item__pic img {
    width: 100%;
    height: 220px;
}

.services__details__feature li {
    list-style: none;
    margin-bottom: 10px;
}

.services__details__feature li i {
    color: #13a2b7;
    margin-right: 6px;
    font-size: 14px;

}

.services__sidebar {
    margin-top: 40px;
}

.services__accordion {
    margin-bottom: 30px;
}

.services__accordion .card-heading a {
    display: block;
    padding: 12px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.services__accordion .card-body ul li {
    margin-bottom: 10px;
    color: #666;
}

.accordion-body ul li a {
    color: #888 !important;
    /* black text */
    text-decoration: none;
}

.services__title {
    margin-bottom: 20px;
}

.services__title h4 {
    font-size: 26px;
    font-weight: 700;
}

.services__appoinment form input,
.services__appoinment form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.services__appoinment form button {
    width: 100%;
}

.spad {
    padding-top: 100px;
    padding-bottom: 50px;
}

/* Blog item hover shadow */
.blog__item {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.10);
    margin-bottom: 30px;
}

.blog__item:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.20);
    transform: translateY(-4px);
    background: #fff;
}


.blog__item__pic img {
    width: 100%;
}

/* Blog text */
.blog__item__text {
    padding: 25px 30px;
}

.blog__item__text h5 a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    margin: 0px 0px 18px;
}

.blog__item__text h5 a:hover {
    text-decoration: underline;
    color: #000;
}


.blog__item__text ul {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin-top: 10px;
    list-style: none;
}


.blog__item__text ul li img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 6px;
}


.blog__item__text ul li::after {
    content: "•";
    margin-left: 10px;
    color: #666;
}

.blog__item__text ul li:last-child::after {
    content: "";
}

.contact {
    padding: 60px 0;
}

.contact__widget {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
}

.contact__widget__icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #f2f7f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__widget__icon i {
    font-size: 22px;
    color: #13a2b7;
}


.contact__widget__text h5 {
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: 600;
}

.contact__widget__text p {
    margin: 0;
    color: #555;
}

/* Image */
.contact__pic img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Contact Form */
.contact__form {
    background: #f9f9f9;
    padding: 25px;
    border-radius: 8px;
}

.contact__form h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.contact__form input,
.contact__form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.contact__form textarea {
    height: 120px;
    resize: none;
}

.contact__form button {
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
}

.pricing__item {
    background-color: #fff;
    text-align: center;
    padding: 0 0 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 61, 85, 0.1);;
    transition: all, 0.3s ;
    margin-bottom: 40px;
}

.pricing__item:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}
.pricing__item__title{
    background-color: #f2f7f8;
    padding: 42px 0;
    border-radius: 10px 10px 0  0;
}
.pricing__item__title p {
    font-size: 15px;
    font-weight: 700;
    color: #111111;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.pricing__item__title h3 {
    font-size: 30px;
    color: #13a2b7;;
    font-weight: 700;

}

.pricing__item__title h3 span {
    display: block;
    font-size: 15px;
    color: #111111;
    font-weight: 700;
    margin-top: 12px;
}

.pricing__item ul {
    margin-top: 50px;
    margin-bottom: 42px;
}
.pricing__item ul li{
    list-style: none;
    margin-bottom: 25px;
}

.pricing__item ul li h6 {
    font-size: 15px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 5px;
}

.pricing__item ul li span {
    color: #111111;
    font-size: 15px;
    display: block;
}

.pricing__item .btn {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
}
.pricing__item .latest__btn{
     display: block;
    width: fit-content;
    margin: 15px auto 0;
}

.pricing__item:hover .pricing__item__title {
    background-color: #13a2b7;  
}

.pricing__item:hover .pricing__item__title p,
.pricing__item:hover .pricing__item__title h3,
.pricing__item:hover .pricing__item__title h3 span {
    color: #fff;               
}

.pricing__item:hover .latest__btn .view-btn {
    background-color: #13a2b7; 
    color: #fff;
    border-color: #13a2b7;
}

/* Tablet: min-width 768px */
@media (min-width: 768px) {
    .hero {
        padding: 120px 0;
    }

    .hero__text h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .section-title h2 {
        font-size: 38px;
    }

    .consultation__form {
        margin-top: -10%;
    }

    .consultation__text__item .section-title h2 {
        font-size: 28px;
    }

    .consultation__video {
        height: 250px;
    }

    .services {
        padding: 70px 0;
    }

    .services__item {
        display: flex;
        align-items: flex-start;
        padding: 25px;
    }

    .services__item__icon span {
        margin-right: 20px;
        margin-bottom: 0;
        font-size: 45px;
    }

    .team .section-title h2 {
        font-size: 32px;
    }

    .team__item h5 {
        font-size: 20px;
    }

    .team__item span {
        font-size: 15px;
    }

    .team {
        padding: 70px 0;
    }

    .latest .section-title h2 {
        font-size: 30px;
    }

    .latest__btn {
        text-align: right;
        margin-top: 0;
    }

    .latest__item {
        padding: 26px;
    }

    .latest__item h5 a {
        font-size: 18px;
    }

    .footer__newslatter form {
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 50px;
        border: 1px solid #13a2b7;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .footer__newslatter input {
        width: 100%;
        flex: 1;
        margin-bottom: 0;
        border: none;
        padding: 10px 15px;
    }

    .footer__newslatter button {
        width: auto;
        margin-left: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .footer__social {
        text-align: right;
    }

    .footer__widget,
    .footer__address {
        margin-bottom: 40px;
    }

    

    .breadcrumb-div {
        padding: 80px 0;
    }

    .breadcrumb__text h2 {
        font-size: 36px;
    }

    .breadcrumb__links a,
    .breadcrumb__links span {
        font-size: 16px;
    }

    .about {
        padding: 70px 0;
    }

    .about__video {
        height: 320px;
    }

    .about__text {
        margin-top: 0;
        padding-left: 20px;
    }

    .testimonial__item {
        padding: 30px;
    }

    .testimonial__author__icon {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .testimonial__item p {
        font-size: 16px;
    }

    .services__details__title h3 {
        font-size: 28px;
    }

    .services__details__widget {
        text-align: right;
        margin-top: 0;
    }

    .services__details__widget h3 {
        font-size: 24px;
    }

    .services__details__text p {
        font-size: 15px;
        line-height: 1.7;
    }

    .services__sidebar {
        margin-top: 0;
    }

    .services__appoinment form input,
    .services__appoinment form select {
        font-size: 15px;
    }

    .blog__item__text h5 {
        font-size: 18px;
        margin: 0px 0px 18px;
    }

    .blog__item__text ul li img {
        width: 30px;
        height: 30px;
    }

    .contact__widget {
        gap: 20px;
    }

    .contact__widget__icon i {
        font-size: 30px;
    }

    .contact__form {
        padding: 30px;
    }

    .contact__form h3 {
        font-size: 26px;
    }
   

}

/* Desktop (≥992px) */
@media (min-width: 992px) {
    .header__top {
        display: block;
        background: #0c5d69;
        color: #fff;
        padding: 10px 0;
        font-size: 14px;
    }

    .header__top__left {
        display: flex;
        align-items: center;
        gap: 25px;
        margin: 0px;
    }

    .header__top__left li i {
        margin-right: 10px;
    }

    .header__top__right {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
    }

    .header__top__right a {
        color: #fff;
        font-size: 16px;
    }

    .navbar-collapse {
        display: flex !important;
        justify-content: end;
    }

    .navbar-nav .nav-item {
        margin-right: 20px;
    }


    .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

    .header-item {
        margin-right: 20px;

    }

    .navbar-collapse .latest__btn {
        display: inline;
        margin-bottom: 0px;
    }

    .hero {
        background-position: center;
        padding: 150px 0;
    }

    .hero__text h2 {
        font-size: 48px;
        line-height: 58px;
    }

    .primary-btn {
        padding: 14px 40px;
        font-size: 18px;
    }

    .consultation__video {
        height: 250px;
    }

    .consultation__form {
        margin-top: -15%;
        /* Perfect fit on large screens */
    }

    .services {
        padding: 90px 0;
    }

    .services__item {
        margin-bottom: 30px;
    }

    .team {
        padding: 80px 0;
    }

    .team .section-title h2 {
        font-size: 36px;
    }

    .team__item {
        padding: 25px;
    }

    .team__item h5 {
        font-size: 22px;
    }

    .team__item span {
        font-size: 16px;
    }

    .latest .section-title h2 {
        font-size: 34px;
    }

    .latest__item {
        padding: 30px;
    }

    .latest__item h5 a {
        font-size: 20px;
    }

    .footer {
        padding-top: 60px;
    }

    .footer__logo img {
        max-width: 180px;
    }

    .footer__top {
        padding-bottom: 40px;
    }

    .footer__widget ul li,
    .footer__address ul li {
        margin-bottom: 12px;
    }

    .footer__copyright {
        padding: 25px 0;
    }

    .footer__copyright ul {
        margin: 0px;
        justify-content: end;
    }

    .breadcrumb-div {
        padding: 100px 0;
    }

    .breadcrumb__text h2 {
        font-size: 44px;
    }

    .breadcrumb__links a,
    .breadcrumb__links span {
        font-size: 18px;
    }

    .about {
        padding: 90px 0;
    }

    .about__video {
        height: 360px;
    }

    .about__text {
        padding-left: 40px;
    }

    .about__text p {
        font-size: 17px;
    }

    .testimonial__item {
        padding: 35px;
    }

    .testimonial__author__text h5 {
        font-size: 20px;
    }

    .testimonial__item p {
        font-size: 17px;
    }

    .services-page {
        padding: 70px 0;
    }

    .services__details__title h3 {
        font-size: 32px;
    }

    .services__details__widget h3 {
        font-size: 28px;
    }

    .services__details__text p {
        font-size: 16px;
    }

    .services__sidebar {
        padding-left: 25px;
    }

    .services__appoinment form {
        padding: 20px;
        background: #f8f9fa;
        border-radius: 10px;
    }

    .services__appoinment form button {
        font-size: 16px;
    }

    .blog__item {
        margin-bottom: 40px;
    }

    .blog__item__text h5 {
        font-size: 20px;
    }

    .blog__item__text ul {
        gap: 14px;
    }

    .contact {
        padding: 80px 0;
    }

    .contact__content {
        margin-top: 40px;
    }

    .contact__pic img {
        margin-bottom: 0;
    }

    .contact__form {
        padding: 40px;
    }

    .contact__form h3 {
        font-size: 28px;
    }
     
}